.MiddleCanvas {
    display: block;
    cursor: crosshair;

}

.ShapePicker {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 20px 0px;

}

.ShapePicker > * {
    padding: 10px 20px;
    margin: 0 auto;
    border: 1px dashed rgb(50, 166, 204);
    box-sizing: border-box;
    background-color: rgb(240, 253, 255);
}

.StrokeAndFill {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    color: rgb(50, 166, 204);
}





.Dashed {
    width: 60%;
    padding: 10px 2px;
    margin: 0 auto;
    border: 1px dashed rgb(50, 166, 204);
    box-sizing: border-box;
    background-color: rgb(240, 253, 255);
    
}



@media screen and (max-width: 799px) {
    .StrokeAndFill {
      flex-direction: row;
      box-sizing: border-box;
      padding-bottom: 80px;
      
    }


    .Dashed {
        border: none;
        background-color: #fff;
        box-sizing: border-box;
    }

    .MiddleCanvas {
        overflow: hidden;
    }

   
    

  }


  @media screen and (max-width: 419px) {


    .StrokeAndFill {
        padding-bottom: 80px;
    }

    .ShapePicker {
        padding: 40px 0px;
    }

    .ShapePicker > * {
        padding: 5px 10px;
        margin: 0 auto;
        border: 1px dashed rgb(50, 166, 204);
        box-sizing: border-box;
        background-color: rgb(240, 253, 255);
    }

    
  }

