/* .SVG {
    background-color:yellow;
    border: 1px solid purple;
    height: 100%;
    width: 100%;
    display: block;
} */

/* .Line {
    height: 100%;
    width: 100%;
    display: block;

} */

