.Gallery {
    width: 100% !important;
}

.GalleryInside {

    display: block;
    width: 70%;
    margin: 0 auto;
    margin-top: 20px;
    margin-bottom: 20px;
    box-sizing: border-box;
    min-height: 70vh;
    
}
