.SaveBtn {
    background-color: #fff;
    color: rgb(45, 118, 143);
    margin-top: 20px;
    padding: 5px 20px;
    border: 1px dashed rgb(50, 166, 204);
    border-radius: 7px;
    transition: all 0.5s ease-in-out;
    cursor: pointer;
    font-family: 'Roboto', sans-serif;
    font-size: 21px;
    transition: all 0.5s ease-in-out;
}

.SaveBtn:hover {
    background: rgb(31, 78, 94);
    color: #fff;
}