.App {
  text-align: center;
  box-sizing: border-box;
  
}

.MainArea {
  display: flex;
  width: 100%;
  border: 1px dashed rgb(50, 166, 204);
  height: 70vh;
  box-sizing: border-box;
  
}

.MainArea > * {
  flex: 1;
  box-sizing: border-box;
}



.MainArea > *:nth-child(2) {
  border-left: 1px dashed rgb(50, 166, 204);
  border-right: 1px dashed rgb(50, 166, 204);
  flex: 3;
}


@media screen and (max-width: 799px) {
  .MainArea {
    flex-direction: column;
  }

  .MainArea > *:nth-child(2) {
    border-top: 1px dashed rgb(50, 166, 204);
    border-bottom: 1px dashed rgb(50, 166, 204);
    border-left: none;
    border-right: none;
    
  }
}

