.App {
  text-align: center;
  box-sizing: border-box;
  
}

.MainArea {
  display: flex;
  width: 100%;
  border: 1px dashed rgb(50, 166, 204);
  box-sizing: border-box;
  
}

.MainArea > * {
  width: 25vw;
  box-sizing: border-box;
}



.MainArea > *:nth-child(2) {
  border-left: 1px dashed rgb(50, 166, 204);
  border-right: 1px dashed rgb(50, 166, 204);
  width: 50vw;
  min-height: 30vh;
}


@media screen and (max-width: 549px) {
  .MainArea {
    flex-direction: column;
  }

  .MainArea > * {
    width: unset;
    box-sizing: border-box;
  }

  .MainArea > *:nth-child(2) {
    border-top: 1px dashed rgb(50, 166, 204);
    border-bottom: 1px dashed rgb(50, 166, 204);
    border-left: none;
    border-right: none;
    margin: 0 auto;
    width: 70vw;
    
  }
}

